.meet_link {
}
a.meet_link_link {
    color: #fff;
    background-color: #27A0B7;
    border: 1px solid #fff;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    transition: all .2s;
}
a.meet_link_link:hover {
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    transition: all .2s;
}